body{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 25px;
}
a {
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav a {
    font-size: 15px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.active{
    color: #6e4dfe;
}
.text-weight-thin{
    font-weight: 100;
}
.text-weight-regualr{
    font-weight: 300;
}
.text-weight-bold{
    font-weight: 400;
}
.text-weight-bolder{
    font-weight: 900;
}